body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("../images/aboutusbg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-blend-mode: normal;

   }

.carousel-inner
{
	width:1100px;
    height:400px;
    max-width: 100%;
    margin: auto;
    line-height: 1;
    max-height: 100%;
    
}
.carousel-item{
    height:400px;
}
h2,p
{
  text-align: left;
  font-style: normal;
  margin-left: 15rem;
  margin-right: 15rem;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
