body{
    background-image: url("../images/bgauthors.jpg");
    background-size:cover;
    background-repeat: no repeat; 
 }
.container{
    margin-top: 6%;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}